:root {
  --color-gray: #e2e2e2;
  --background-color-gray: #f2f2f2;
  --background-color-gray-darker: #dadada;
  --color-blue: #12a4ff;
  --link-color: black;
}

.banner img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.carousel-item {
  top: 30%;
}
/* .carousel-inner {
  position: relative;
} */
.banner {
  position: relative;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; 
}
.carousel-caption h5 {
  font-size: 38px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.carousel-caption p {
  font-weight: lighter;
  letter-spacing: 2px;
}
/* .banner > .title h2 {
  margin-bottom: 20px;
  font-size: 38px;
  letter-spacing: 2px;
}

.banner .title span {
  font-weight: lighter;
  letter-spacing: 2px;
} */

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.navbar ul li {
  border-left: 1px solid var(--color-gray);
  padding: 20px 30px;
}
.navbar ul li:last-child {
  border-right: 1px solid var(--color-gray);
}
.navbar_underline {
  position: relative;
  text-decoration: none;
  display: inline-block;
  z-index: 0;
  line-height: 1;
  padding: 5px 5px;
  overflow: hidden;
  color: rgb(27, 1, 1);
  vertical-align: bottom;
  transition: color .3s ease-out;
  font-family: Arial, sans-serif;

}
.navbar_underline::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(calc(100% - 2px));
  width: 100%;
  height: 100%;
  background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
  transition: transform .25s ease-out;
}

.navbar_underline:hover { 
  color: rgb(255, 254, 254); 
}
.navbar_underline:hover::before {
  transform: translateY(0);
  transition: transform .25s ease-out;
}
/* .navbar ul li a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:relative;
  transition:0.5s color ease;
  text-decoration:none;
  color:#0564a0;

} */
/* .navbar ul li a:hover{
  color:#d73444;
}
.navbar ul li a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
.navbar ul li a.before:before{
  top:-0.25em;
}
.navbar ul li a.after:after{
  bottom:-0.25em;
}
.navbar ul li a.before:before,a.after:after{
  height:5px;
  height:0.35rem;
  width:0;
  background:#f7051d;
}
.navbar ul li a:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%); */
/* }
.navbar ul li a.before:hover:before,a.after:hover:after{
  width:100%;
} */
/* .navbar_underline a:hover::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;


  height: .05em;
  bottom: .1em;


  background-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(var(--link-color), .6) 30%,
    rgba(var(--link-color), .7) 50%,
    rgba(var(--link-color), .6) 70%,
    transparent 100%
  );

  
  opacity: 0;
  animation: fadeIn 400ms ease-out forwards;
  
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
} */


.navbar ul li.center {
  flex-grow: 1;
  position: relative;
}

.navbar ul li.center img {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 10px solid white;
  border-radius: 50%;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10x;
  padding: 100px 30px 30px 30px;
  background-color: var(--background-color-gray);
}

.info > div {
  width: calc(50% - 15px);
}
/* .info__person--link a {
  text-decoration: none;
  margin-left: 20px;
} */
.info__person--link ul {
  display: flex;
  position: absolute;
  margin-left: -5px;
}

.info__person--link ul li {
  list-style: none;

}

.info__person--link ul li a {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  margin: 10px 15px 0 0;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid rgb(241, 248, 255);
  z-index: 1;

}

.info__person--link ul li a .icon {
  position: relative;
  color: var(--color-blue);
  transition: .5s;
  z-index: 3;
}

.info__person--link ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.info__person--link ul li a:before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(189, 236, 17);
  transition: .5s;
  z-index: 2;
}

.info__person--link ul li a:hover:before {
  top: 0;
}

.info__person--link ul li:nth-child(1) a:before{
  background: #55acee;
}
.info__person--link ul li:nth-child(2) a:before{
  background: #3b5999;
}
.info__person--link ul li:nth-child(3) a:before {
  background: #10cf90;
}
.info__person--link ul li:nth-child(4) a:before {
  background: #f3366e;
}

.profile ul {
  list-style: none;
}

.profile ul li {
  position: relative;
}
.profile ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--color-blue);
  position: absolute;
  left: -20px;
  top: 8px;
  border-radius: 50%;
}

.experience__title {
  display: flex;
  justify-content: space-between;
}

.experience__title svg {
  height: 50px;
  width: 50px;
  color: var(--background-color-gray-darker);
}

.dash {
  width: 40px;
  height: 3px;
  background-color: var(--background-color-gray-darker);
  border-radius: 5px;
  display: inline-block;
}

.dash.active {
  background-color: var(--color-blue);
}

/* .profile {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */

.profile__item {
  /* width: 30%; */
  border: 1px solid var(--background-color-gray);
  padding: 20px;
  margin-bottom: 20px;
}

.profile__item .title {
  display: flex;
  justify-content: space-between;
}

.profile__item svg {
  height: 50px;
  width: 50px;
  color: var(--background-color-gray-darker);
}

.profile__item i {
  font-size: 48px;
  color: var(--background-color-gray-darker);
}
.hobbies table tr {
border: none;
font-size: 15px;
}
.hobbies table tr td {
  margin-right: 20px;
}
.hobbies table {
  border: none;
}
.hobbies table tr td i {
  color: var(--color-blue);
}

/* .reward__item {
  display: flex;
  width: 50%;
} */

.reward__item img {
  width: 50%;
}

.reward__container > div {
  border-bottom: 1px solid orange;
}

.reward__container > div > div:first-child {
  border-right: 1px solid orange;
}

/* .project__item {
  width: 31%;
} */
.project__item img {
  width: 100%;
  height: 200px;
}

table tr {
  border: 1px solid var(--background-color-gray);
}

table tr td {
  padding: 10px;
}

@media only screen and (max-width: 992px) {
  .navbar .center {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .navbar ul {
    flex-direction: column;
  }
  .navbar ul li {
    border: none;
  }

  .info > div {
    width: 100%;
  }
}
.link {
  display: inline-block;
  margin: 1em;

}
.link:before {
  content: '';
  border-bottom: solid 1px #d9534f;
  position: absolute;
  bottom: 0; left: 0%;
  width: 0;
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0); 
}

.link:hover:before {
  border-bottom: solid thin #d9534f;
  width: 100%;
  -webkit-animation: heartbeat-x 1.7s infinite ease-in;
          animation: heartbeat-x 1.7s infinite ease-in;
}

.link:hover {
  -webkit-animation: heartbeat 1.7s infinite ease-in;
          animation: heartbeat 1.7s infinite ease-in;
}

@-webkit-keyframes heartbeat {
  0% { -webkit-transform: scale(1); }
  10% { -webkit-transform: scale(1.1); }
  20% { -webkit-transform: scale(1); }
  30% { -webkit-transform: scale(1.1); }
  40% { -webkit-transform: scale(1); }
}

@-webkit-keyframes heartbeat-x {
  0% { -webkit-transform: scaleX(0); }
  10% { -webkit-transform: scaleX(1); }
  20% { -webkit-transform: scaleX(0); }
  30% { -webkit-transform: scaleX(1); }
  40% { -webkit-transform: scaleX(0); }
}

@keyframes heartbeat {
  0% { transform: scale(1); }
  10% { transform: scale(1.1); }
  20% { transform: scale(1); }
  30% { transform: scale(1.1); }
  40% { transform: scale(1); }
}

@keyframes heartbeat-x {
  0% { transform: scaleX(0); }
  10% { transform: scaleX(1); }
  20% { transform: scaleX(0); }
  30% { transform: scaleX(1); }
  40% { transform: scaleX(0); }
}
