.social-icons a:hover
{
  background: #e91e63;
}



.hehe ul {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.hehe ul li {
    list-style: none;
    margin: 0 15px;
  }
  
.hehe ul li a {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }
  
.hehe ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
.hehe ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
  }
  
.hehe ul li a:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
  }

.test ul {
    display: flex;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-30%, -70%);
  }
  
  .test ul li {
    list-style: none;
  }
  
  .test ul li a {
    width: 40px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
  .test ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  .test ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  .test ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  .test ul li a:hover:before {
    top: 0;
  }
  
  .test ul li:nth-child(1) a:before{
    background: #3b5999;
  }
  
  .test ul li:nth-child(2) a:before{
    background: #55acee;
  }
  
  .test ul li:nth-child(3) a:before {
    background: #0077b5;
  }
  
  .test ul li:nth-child(4) a:before {
    background: #dd4b39;
  }
  